<% layout('layouts/main') -%>

<div class="max-w-7xl mx-auto p-6">

  <div class="bg-white rounded-2xl shadow p-6 overflow-x-auto">

    <h1 class="text-2xl font-bold mb-6">
      Approval Lembur
    </h1>

    <table class="w-full text-sm">

      <thead>
        <tr class="border-b text-left">
          <th class="py-3">Karyawan</th>
          <th>Tanggal</th>
          <th>Jam</th>
          <th>Total</th>
          <th>Status</th>
          <th>Aksi</th>
        </tr>
      </thead>

      <tbody>

        <% overtimes.forEach(o => { %>

          <tr class="border-b">

            <td class="py-4">
              <%= o.userId?.fullName %>
            </td>

            <td>
              <%= new Date(o.date)
              .toLocaleDateString("id-ID") %>
            </td>

            <td>
              <%= o.startTime %> -
              <%= o.endTime %>
            </td>

            <td>
              <%= o.totalHours %> Jam
            </td>

            <td>
              <%= o.status %>
            </td>

            <td>

              <div class="flex gap-2">

                <% if(o.status ===
                'Pending Manager'){ %>

                <form
                  action="/overtime/approval/<%= o._id %>/manager"
                  method="POST">

                  <button
                    class="bg-blue-600 text-white px-3 py-2 rounded-lg text-xs">

                    Approve Manager

                  </button>

                </form>

                <% } %>

                <% if(o.status ===
                'Pending HR'){ %>

                <form
                  action="/overtime/approval/<%= o._id %>/hr"
                  method="POST">

                  <button
                    class="bg-green-600 text-white px-3 py-2 rounded-lg text-xs">

                    Approve HR

                  </button>

                </form>

                <% } %>

              </div>

            </td>

          </tr>

        <% }) %>

      </tbody>

    </table>

  </div>

</div>